libmff/libmff.a
libmff/libmff.o
other/debates.mff
other/home-room-objs.mff
rooms/home-rooms.mff
src/.ver
src/.verinfo
other/fund.def
other/failed-commands.txt
other/failed-help.def
src/atm.o
src/auto.o
src/combat.o
src/commun.o
src/custom.o
src/debate.o
src/editor.o
src/guilds.o
src/home.o
src/hostname.o
src/info.o
src/init.o
src/lists.o
src/log.o
src/login.c
src/login.o
src/mail.o
src/mccp.o
src/memory.o
src/misc.o
src/mobs.o
src/news.o
src/objs.o
src/pfiles.o
src/reboot.o
src/rooms.o
src/script.o
src/scroll.o
src/settings.o
src/shop.o
src/sign.o
src/signals.o
src/skills.o
src/smud
src/smud.o
src/socket.o
src/transport.o
src/use.o
src/weather.o
src/wiz.o
src/write.o
src/Makefile

