Smud Rules..

1. No harrassment, at all, ever of anyone, if you feel you are being 
   harrassed please send a log to smud@amber.org.uk and we'll deal with it.

2. No use of triggers/robots to help you get an advantage you wouldn't
   otherwise have.

3. No spamming on any channel, private or otherwise.

4. The word of the IMM's is final, if you don't agree with an IMM then 
   argue later by sending a detailed mail to smud@amber.org.uk.

Basically try and obey the 'spirit' of the MUD, if you find a bug which allows you unfair benefits then don't exploit it, you will be penalised far more when the truth comes to light... try reporting it and you never know, you may be rewarded.

Whilst we dont mind the odd bit of 'colourful' language, try to maintain a kiddie friendly environment if at all possible.
